<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello WebSocket</title>
    <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm sticky-top">
        <form class="mx-2 my-auto d-inline w-100" id="search" action="search" method="get">
            <div class="input-group">
                <input class="form-control" type="text" id="username" name="username" placeholder="Your username here..."/>
                <span class="input-group-append">
                    <button id="connect" class="btn btn-secondary" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-secondary" type="submit" disabled="disabled">Disconnect
                    </button>
                </span>
            </div>
        </form>
    </nav>
    <br>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="sendTo" placeholder="Enviar mensaje a...">
                    </div>
                    <div class="col-sm-2">
                        <button id="send" class="btn btn-secondary" type="submit">Enviar</button>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="message" class="col-sm-2 col-form-label">Contenido</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Messages</th>
                </tr>
                </thead>
                <tbody id="messages">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="../webjars/jquery/jquery.min.js"></script>
<script src="../webjars/sockjs-client/sockjs.min.js"></script>
<script src="../webjars/stomp-websocket/stomp.min.js"></script>
<script src="../webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../webjars/font-awesome/5.12.0/js/all.js"></script>
<script src="/app.js"></script>

</body>
</html>