input:focus {
    outline:none;
}

.container {
    margin: auto;
}

.view-container {
    padding: 0 0 50px 0;
}

.inbox-container {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
    width: 100%;
}

.inbox-people {
    background: #f8f8f8 none repeat scroll 0 0;
    border-right: 1px solid #c4c4c4;
}

.heading-search {
    padding: 10px 0;
    border-bottom: 1px solid #c4c4c4;
}

.srch-bar-heading{
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch-bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    padding: 2px 0 4px 6px;
    background: none;
    width: 100%;
}

.srch-bar .input-group-addon {
    margin: 0 0 0 -30px;
}

.srch-addon-button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.inbox-list {
    max-height: 550px;
    overflow-y: auto;
}

.chat-list-item {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 15px 0;
    width: 100%;
    overflow-x: hidden;
}

.chat-type {
    text-align: center;
}

.active-chat {
    background: #ebebeb;
}

.chat-preview {
    margin-left: -10px;
}

.chat-preview h5 {
    font-size: 15px;
    color: #464646;
}

.chat-preview h5 span {
    font-size: 13px;
    float: right;
}

.chat-preview p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.height-container {
    height: 516px;
}

.message-history {
    max-height: 516px;
    overflow-y: auto;
    position: absolute;
    bottom: 50px;
    padding: 15px 0;
    margin: 0 0 0 -15px;
    width: 100%;
}

.incoming-message {
    margin-top: 5px;
}

.outgoing-message{
    margin-bottom: 5px;
}

.received-message {
    padding: 0 0 0 10px;
    vertical-align: top;
}

.sent-message {
    float: right;
}

.received-message p {
    background: #ebebeb none repeat scroll 0 0;
    color: #646464;
}

.sent-message p {
    background: #05728f none repeat scroll 0 0;
    color: #ffffff;
}

.message-wrapper p {
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    padding: 5px 12px;
}

.received-message .message-wrapper {
    max-width: 60%;
}

.message-time-date {
    color: #747474;
    font-size: 12px;
    margin: 8px 0 0;
}

.group-message-username{
    color: #747474;
    font-size: 14px;
    margin: 8px 0 0;
    font-weight: 500;
}

.type-message-container {
    border-top: 1px solid #c4c4c4;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.input-message-write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.message-send-btn, .message-attach-btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.message-attach-btn{
    text-align: center;
}
#file-input
{
    display: none;
}
.attach-file
{
    vertical-align: bottom;
    cursor: pointer;
}
.alert-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    z-index: 9999;
    display: none;
}
.inner-alert-message {
    margin: 0 auto;
    width: 80%;
}