<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>WebSocket Chat App</title>
    <!-- Resources on other origins must be CORS-enabled. -->
    <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link src="../webjars/font-awesome/5.12.0/css/all.css">
    <link href="./css/app.css" rel="stylesheet" >
</head>
<body>
<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable Javascript and reload this page!</h2>
</noscript>

<div id="messaging-app" class="row main-content">
    <div class="view-container col-md-12">
        <div class="inbox-container row">
            <div class="col-md-4 inbox-people">
                <div class="row heading-search">

                    <div class="col-md-10 srch-bar">
                        <input type="text" class="search-bar" id="convSearchbar" placeholder="Search" >
                        <span class="input-group-addon">
                            <label class="srch-addon-button"> <i class="fa fa-search" aria-hidden="true"></i> </label>
                        </span>
                    </div>

                    <div class="col-md-2 btn-group dropright" style="text-align: center">
                        <button type="button" class="srch-addon-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-plus" aria-hidden="true"></i> </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#actionModal" data-sending="conv-new">Nueva Conversación</button>
                            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#actionModal" data-sending="group-new">Crear Grupo</button>
                            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#actionModal" data-sending="group-addPerson">Agregar a Grupo</button>
                            <button class="dropdown-item admin-item" type="button" data-toggle="modal" data-target="#actionModal" data-sending="send-all">Enviar a Todos</button>
                            <button class="dropdown-item" type="button" id="logout">Cerrar Sesión</button>
                        </div>
                    </div>

                </div>
                <div class="row inbox-list">
                <!--
                    <div class="row chat-list-item active-chat">
                        <div class="col-md-2 chat-type"><i class="fas fa-users"></i></div>
                        <div class="col-md-10 chat-preview">
                            <h5>Grupito que tal <span class="chat-preview-date">Dec 25</span></h5>
                            <p>Test, which is a new approach to have all solutions
                                astrology under one roof.</p>
                        </div>
                    </div>

                    <div class="row chat-list-item">
                        <div class="col-md-2 chat-type"><i class="fas fa-user"></i></div>
                        <div class="col-md-10 chat-preview">
                            <h5>Juan Abud <span class="chat-preview-date">Dec 25</span></h5>
                            <p>Test, which is a new approach to have all solutions
                                astrology under one roof.</p>
                        </div>
                    </div>
                -->

                </div>
            </div>
            <div class="col-md-8 messages-container">
                <div class="height-container">
                    <div class="row message-history">
                        <!--<div class="col-md-12 incoming-message">
                            <div class="received-message">
                                <div class="message-wrapper">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="message-time-date"> 11:01 AM    |    June 9</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 outgoing-message">
                            <div class="sent-message">
                                <div class="message-wrapper">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="message-time-date"> 11:01 AM    |    June 9</span>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="row type-message-container">
                    <div class="col-md-10 input-message-write">
                        <input id="message-text" type="text" class="write-msg" placeholder="Type a message" />
                    </div>
                    <div class="col-md-1 message-file-container">
                        <label for="file-input" class="message-attach-btn">
                            <i class="attach-file fa fa-paperclip" aria-hidden="true"></i>
                        </label>
                        <input id="file-input" type="file"/>
                    </div>
                    <div class="col-md-1  message-send-container">
                        <button id="send-message" class="message-send-btn" type="button"><i class="far fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="charts-container" class="row main-content admin-item">
    <div class="view-container col-md-12">
        <div class="row charts-container-inner">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <canvas id="wordScore"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <canvas id="senderScore"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <canvas id="receiverScore"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal de Crear conversacion -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="actionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Nuevo mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" id="newGroupField">
                        <label for="group-name" class="col-form-label">Nombre del Grupo:</label>
                        <input type="text" class="form-control" id="group-name">
                    </div>

                    <div class="form-group" id="userListField">
                        <label for="userListField">Usuario:</label>
                        <select class="form-control" id="user-select">
                            <option value="none">Elige un usuario</option>
                        </select>
                    </div>

                    <div class="form-group" id="ownGroupListField">
                        <label for="owned-groups">Grupo:</label>
                        <select class="form-control" id="owned-groups">
                            <option value="none">Elige un grupo</option>
                        </select>
                    </div>

                    <div class="form-group" id="textMessageField">
                        <label for="message-all" class="col-form-label">Mensaje:</label>
                        <textarea class="form-control" id="message-all" maxlength="500"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-dark" id="modalAccept">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Alertas de sistema -->
<div class="alert-message" id="systemAlert">
    <div class="alert alert-primary alert-dismissible fade show inner-alert-message">
        <h4 class="alert-heading">Alerta</h4>
        <hr>
        <span><p class="mb-0">Alerta de sistema</p></span>
        <button type="button" class="close" data-hide="systemAlert">&times;</button>
    </div>
</div>

<script src="../webjars/jquery/jquery.min.js"></script>
<script src="../webjars/sockjs-client/sockjs.min.js"></script>
<script src="../webjars/stomp-websocket/stomp.min.js"></script>
<script src="../webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="../webjars/font-awesome/5.12.0/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="./js/chart-logic.js"></script>
<script src="./js/app.js"></script>
</body>
</html>