<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello WebSocket</title>
    <!-- Resources on other origins must be CORS-enabled. -->
    <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link src="../webjars/font-awesome/5.12.0/css/all.css">
    <link href="./main.css" rel="stylesheet" >
</head>
<body>
<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable Javascript and reload this page!</h2>
</noscript>

<div id="main-content" class="container">
    <nav class="navbar navbar-dark navbar-expand-sm">
        <form class="mx-2 my-auto d-inline w-100" id="conexion" action="conexion" method="get">
            <div class="input-group">
                <input class="form-control" type="text" id="username" name="username" placeholder="Your username here..."/>
                <span class="input-group-append">
                    <button id="connect" class="btn btn-secondary" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-secondary" type="submit" disabled="disabled">Disconnect
                    </button>
                </span>
            </div>
        </form>
    </nav>
    <br>
    <!-- <h3 class=" text-center">Welcome Roberto</h3> -->
    <div id="messaging-app" class="view-container row">
        <div class="inbox-container row">
            <div class="col-md-4 inbox-people">
                <div class="row heading-search">
                    <!--
                    <div class="col-md-3">
                        <h4 class="srch-bar-heading">Recent</h4>
                    </div>
                    -->
                    <div class="col-md-10 srch-bar">
                        <input type="text" class="search-bar"  placeholder="Search" >
                        <span class="input-group-addon">
                            <button type="button" class="srch-addon-button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </span>
                    </div>
                    <div class="col-md-2" style="text-align: center">
                        <button type="button" class="srch-addon-button"> <i class="fa fa-plus" aria-hidden="true"></i> </button>
                    </div>
                </div>
                <div class="row inbox-list">

<!--                    <div class="row chat-list-item active-chat">
                        <div class="col-md-2 chat-type"><i class="fas fa-users"></i></div>
                        <div class="col-md-10 chat-preview">
                            <h5>Grupito que tal <span class="chat-preview-date">Dec 25</span></h5>
                            <p>Test, which is a new approach to have all solutions
                                astrology under one roof.</p>
                        </div>
                    </div>

                    <div class="row chat-list-item">
                        <div class="col-md-2 chat-type"><i class="fas fa-user"></i></div>
                        <div class="col-md-10 chat-preview">
                            <h5>Juan Abud <span class="chat-preview-date">Dec 25</span></h5>
                            <p>Test, which is a new approach to have all solutions
                                astrology under one roof.</p>
                        </div>
                    </div>-->

                </div>
            </div>
            <div class="col-md-8 messages-container">
                <div class="height-container">
                    <div class="row message-history">
                        <!--<div class="col-md-12 incoming-message">
                            <div class="received-message">
                                <div class="message-wrapper">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="message-time-date"> 11:01 AM    |    June 9</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 outgoing-message">
                            <div class="sent-message">
                                <div class="message-wrapper">
                                    <p>Test which is a new approach to have all
                                        solutions</p>
                                    <span class="message-time-date"> 11:01 AM    |    June 9</span>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="row type-message-container">
                    <div class="col-md-10 input-message-write">
                        <input id="message-text" type="text" class="write-msg" placeholder="Type a message" />
                    </div>
                    <div class="col-md-1">
                        <label for="file-input" class="message-attach-btn">
                            <i class="attach-file fa fa-paperclip" aria-hidden="true"></i>
                        </label>
                        <input id="file-input" type="file"/>
                    </div>
                    <div class="col-md-1">
                        <button id="send-message" class="message-send-btn" type="button"><i class="far fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../webjars/jquery/jquery.min.js"></script>
<script src="../webjars/sockjs-client/sockjs.min.js"></script>
<script src="../webjars/stomp-websocket/stomp.min.js"></script>
<script src="../webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../webjars/font-awesome/5.12.0/js/all.js"></script>
<script src="/app.js"></script>
</body>
</html>