<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <!-- Resources on other origins must be CORS-enabled. -->
    <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link src="../webjars/font-awesome/5.12.0/css/all.css">
    <link href="./css/auth.css" rel="stylesheet" >
</head>
<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
            <!-- Logo: https://pixabay.com/illustrations/logo-blue-free-2067396/ -->
            <img src="./appLogo.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="username" class="fadeIn second" name="login" placeholder="username">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" id="send-button" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/register">Register</a>
        </div>

    </div>
</div>

<!-- Alertas de sistema -->
<div class="alert-message" id="systemAlert">
    <div class="alert alert-danger alert-dismissible fade show inner-alert-message">
        <h4 class="alert-heading">Alerta</h4>
        <hr>
        <span><p class="mb-0">Alerta de sistema</p></span>
        <button type="button" class="close" data-hide="systemAlert">&times;</button>
    </div>
</div>

<script src="../webjars/jquery/jquery.min.js"></script>
<script src="../webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="../webjars/font-awesome/5.12.0/js/all.js"></script>
<script src="./js/auth.js"></script>
</body>
</html>